.App {
  text-align: center;
}

.AppHeader {
  background-color: #282c34;
  height: 450px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: calc(8px + 2vmin);
  color: white;
}

.Main {
  background-color: darkslategrey;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
}
